[submodule "server/secret-server"]
	path = server/secret-server
	url = https://github.com/paranmanzang/secret-server.git
[submodule "server/config-server"]
	path = server/config-server
	url = https://github.com/paranmanzang/config-server.git
