[submodule "server/secret-server"]
	path = server/secret-server
	url = git@github.com:paranmanzang/secret-server.git
[submodule "server/config-server"]
	path = server/config-server
	url = git@github.com:paranmanzang/config-server.git
